/* Configurações de estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    background: rgb(2, 0, 36);
    background: linear-gradient(164deg, rgba(2, 0, 36, 1) 0%, rgba(34, 40, 49, 1) 61%, rgba(16, 117, 138, 1) 100%);
}

.title {
    padding: 20px;
    margin-bottom: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.slider-wrapper {
    margin-top: 80px;
    max-width: 1200px;
    height: 500px;
    margin: 70px 55px;
    border-radius: 6px;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #333;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #333;
    margin-top: -50px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }

    .card-list .card-item {
        width: 180px;
    }

    .card-list .card-item .user-image {
        width: 120px;
    }

    .card-list .card-item h2 {
        font-size: 1.2rem;
    }

    .slider-wrapper .swiper-slide {
        width: 200px;
    }
}

/* 1° COMPONENTE: HERO */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
    max-width: max-content !important;
    color: #EEEEEE;
    flex-wrap: wrap;
}

.text {
    flex: 1;
    padding: 50px;
    text-align: center;
}

.text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.text p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}

span {
    display: block;
    margin-bottom: 20px;
    color: #00ADB5;
    font-size: 4rem;
}

span.kw {
    display: inline;
    color: #fff;
    font-size: 1.6rem;
}

.cta {
    background-color: #EEEEEE;
    padding: 15px;
    color: black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img-hero {
    max-width: 90%;
    height: auto;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .hero {
        flex-direction: column;
        height: auto;
    }

    .text {
        padding: 20px;
    }

    .text h1 {
        font-size: 3rem;
    }

    span {
        font-size: 2rem;
    }

    .img {
        padding: 10px;
    }

    .img-hero {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    span {
        font-size: 1.8rem;
    }

    .cta {
        padding: 8px;
        font-size: 1rem;
    }
}

/* 2° COMPONENTE: HIGHLIGHTS */
.container-highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: #EEEEEE;
    gap: 30px;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .container-highlights {
        gap: 20px;
        padding: 15px;
    }

    .card {
        max-width: 100%;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }
}

/* 3° COMPONENTE: EXPERIÊNCIA */
.container-exp {
    padding: 70px;
}

.card-project {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(164deg, rgba(2, 0, 36, 1) 0%, rgba(34, 40, 49, 1) 13%, rgba(16, 117, 138, 1) 99%);
    border-radius: 10px;
    margin-bottom: 20px;
}