/* Configurações de estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #222831 0%, rgba(30, 29, 79, 0.8) 100%) no-repeat;
    font-family: 'Poppins', sans-serif;
}

.title { 
    padding: 20px;
}

/* 1° COMPONENTE: HERO */

.hero {
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
    max-width: max-content !important;
    color: #EEEEEE;
    flex-wrap: wrap;
}

.text {
    flex: 1;
    padding: 50px;
    text-align: center;
}

.text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.text p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}

span {
    display: block;
    margin-bottom: 20px;
    color: #00ADB5;
    font-size: 4rem;
}

span.kw {
    display: inline;
    color: #fff;
    font-size: 1.6rem;
}

.cta {
    background-color: #EEEEEE;
    padding: 15px;
    color: black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img-hero {
    max-width: 90%;
    height: auto;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .hero {
        flex-direction: column;
        height: auto;
    }

    .text {
        padding: 20px;
    }

    .text h1 {
        font-size: 3rem;
    }

    span {
        font-size: 2rem; 
    }

    .img {
        padding: 10px;
    }

    .img-hero {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    span {
        font-size: 1.8rem;
    }

    .cta {
        padding: 8px;
        font-size: 1rem;
    }
}
/* 2° COMPONENTE: HIGHLIGHTS */
.container-highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background: linear-gradient(180deg, #222831 0%, rgba(30, 29, 79, 0.8) 100%) no-repeat;
    color: #EEEEEE;
    gap: 30px;  /* Ajuste o gap aqui para garantir que não fique muito grande */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .container-highlights {
        gap: 20px; /* Reduz o espaçamento em telas menores */
        padding: 15px; /* Ajusta o padding para telas pequenas */
    }

    .card {
        max-width: 100%; /* Os cards ocupam toda a largura em telas pequenas */
    }

    h1 {
        font-size: 3rem; /* Ajuste o tamanho do título */
        text-align: center; /* Garante que o título fique centralizado */
    }
}


